<div class="navbar-blur">
  <header class="navbar">
    <section class="navbar-section">
      <a class="navbar-brand" href="/">
        <img class="avatar" src="/assets/img/avatar.png">
        <h1 class="title">{{ site.title }}</h1>
      </a>

      {% for item in site.data.links.menu %}
        <a class="btn btn-link hide-sm" href="{{ item.link }}">{{ item.name }}</a>
      {% endfor %}
    </section>

    <section class="navbar-section">
      {% for item in site.data.links.social %}
        <a class="btn btn-link tooltip tooltip-bottom hide-sm" href="{{ item.link }}" data-tooltip="{{ item.name }}">
          <i class="fa-icon fab fa-{{ item.name | downcase }}"></i>
        </a>
      {% endfor %}

      <div id="dropdown" class="dropdown dropdown-right show-sm">
        <a id="dropdown-toggle" class="btn btn-action dropdown-toggle" href="#" tabindex="0"><i class="icon icon-menu"></i></a>
        <ul class="menu">
          {% for item in site.data.links.menu %}
            <li class="menu-item"><a href="{{ item.link }}">{{ item.name }}</a></li>
          {% endfor %}
          <div class="divider"></div>
          {% for item in site.data.links.social %}
            <li class="menu-item"><a href="{{ item.link }}"><i class="fa-icon fab fa-{{ item.name | downcase }}" aria-hidden="true"></i> {{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <script>
        (function() {
          document.addEventListener('click', function(event) {
            if (!document.querySelector('#dropdown').contains(event.target)) {
              document.querySelector('#dropdown-toggle').blur();
            }
          });
        })();
      </script>
    </section>
  </header>
</div>
